body{
	background-color: black;
}

#svg{
	border: 1px solid black; 
	width: 750px; 
	height: 500px;
	margin: 10px;
	border-radius: 3px;
}


.dot {
	display: inline-block;
	border: 1px solid black;
	border-radius: 3px;
	width: 20px;
	height: 20px;
	text-align: center;
}

label {
	display: inline-block;
}

.color {
	vertical-align: middle;
	display: inline-block;
	background-color: blue;
	width: 20px;
	height: 15px;
	margin-left: 5px;

}
#black{
	background-color: black;
}
#blue {
	background-color: blue;
}
#red{
	background-color: red;
}
#green{
	background-color: green;
}

#eraser {
	background-color: black;
	color: white;
	padding: 5px;
}

#invite {
	display: inline-block;
	width: 250px;
	color: white;
}

#bar {
	margin: 10px 0px;
}

#main {
	height: 500px;
	border-radius: 3px;
}
#collaborators{
	background-color: white;
	display: inline-block;
	color: black;
	padding: 30px;
	margin-top: 20px;
	width: 400px;
	margin-left: 30px;
}

#collaborators input, button{
	margin-top: 10px;
}

#draw-area{
	display: inline-block;

	background-color: white;
	margin-left: 20px;
}


input {
	width: 175px;
}

#chat-window{

	height: 400px;
	color:black;
	background-color: white;
	border: 1px solid black;
}

h3 {
	margin: 0px;
	display: inline-block;
	margin-right: 90px;
	margin-left: 20px;
}

.cursor {
	position: absolute;
}
